<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 内存卡读写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 定位相关 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- wifi -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 录像/照相 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--通讯录-->
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 日历权限 -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!--    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"-->
    <!--        tools:ignore="ProtectedPermissions" />-->

    <!--读取短信-->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:name=".LoanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="true" />

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.home.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />

        <activity
            android:name=".module.process.personalinfo.PersonalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.process.work.WorkInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.process.contact.ContactInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.process.kyc.KycInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.process.bank.BankInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.process.face.FaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.process.face.FaceFailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.banklist.BankCardListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.banklist.MeBankAccountListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.banklist.ConfirmBankCardListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.banklist.BankInfoAddActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.history.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".camera.CaptureActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CaptureActivityTheme" />
        <activity
            android:name=".module.upload.UploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.repeat.confirm.RepeatConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.repaydetail.RepayDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.applysuccess.ApplySuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.defer.DeferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.defer.RepayTabDeferActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".module.webview.WebViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.setting.SettingActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".module.service.XjbgdfdfService"
            android:exported="false" />

        <!-- 适配 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="400" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="740" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${pkgName}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>