<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 内存卡读写 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <!-- 定位相关 -->
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- wifi -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 录像/照相 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 通知权限 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- 通知权限（Android 7.1 及以下的兼容处理） -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 唤醒 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 前台服务 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <!-- 通讯录 -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" /> -->
    <!-- 日历权限 -->
    <!-- <uses-permission android:name="android.permission.READ_CALENDAR" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_CALENDAR" /> -->
    <!-- <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" -->
    <!-- tools:ignore="ProtectedPermissions" /> -->
    <!-- 读取短信 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT" />
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK" />

            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />

            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>

    <application
        android:name=".LoanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="true" />

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".module.home.MainActivity"
            android:launchMode="singleTask"

            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".module.process.personalinfo.PersonalInfoActivity" />
        <activity android:name=".module.process.contact.ContactInfoActivity" />
        <activity android:name=".module.process.kyc.KycInfoActivity" />
        <activity android:name=".module.process.bank.BankInfoActivity" />
        <activity android:name=".module.process.face.FaceActivity" />
        <activity android:name=".module.process.face.FaceFailedActivity" />
        <activity android:name=".module.banklist.BankCardListActivity" />
        <activity android:name=".module.banklist.MeBankAccountListActivity" />
        <activity android:name=".module.banklist.ConfirmBankCardListActivity" />
        <activity
            android:name=".module.banklist.BankInfoAddActivity"

            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".module.history.HistoryActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".utils.camera.CaptureActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CaptureActivityTheme" />
        <activity android:name=".module.upload.UploadActivity" />
        <activity android:name=".module.repeat.confirm.RepeatConfirmActivity" />
        <activity android:name=".module.dashboardDetail.RepayDetailActivity" />
        <activity android:name=".module.dashboardDetail.RepayDetailHisActivity" />
        <activity android:name=".module.review.RepeatReviewActivity" />
        <activity android:name=".module.applysuccess.ApplySuccessActivity" />
        <activity android:name=".module.defer.DeferActivity" />
        <activity android:name=".module.defer.RepayTabDeferActivity" />
        <activity android:name=".module.defer.DeferHisActivity" />

        <activity android:name=".module.webview.WebViewActivity" />
        <activity android:name=".module.setting.SettingActivity" />
        <activity
            android:name=".module.ocr.CutOutPhotoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"/>
        <activity
            android:name=".module.ocr.PhotographActivity"
            android:exported="true" />
        <activity
            android:name=".module.ocr.ShowCropperedActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity android:name=".module.ocr.TakePhotoActivity" />
        <activity
            android:name=".module.answer.CourseActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity
            android:name=".module.python.CodingActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity
            android:name=".module.ai.AIChatActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity
            android:name=".module.chat.ChatActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity
            android:name=".module.answer.AnswerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity
            android:name=".module.quiz.QuizActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity
            android:name=".module.player.PlayerManageActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity
            android:name=".module.richview.ZoomImageActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity
            android:name=".module.stepbar.StepBarViewActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity
            android:name=".module.codeeditor.CodePlaygroundActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <!--        <activity-->
        <!--            android:name=".module.coding.KCodingEditorActivity"-->
        <!--            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />-->
        <activity
            android:name=".module.upload.real.QuickUploadActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity
            android:name=".module.upload.real.QuickUploadSingleActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity
            android:name=".module.upload.real.QuickUploadMultipleSingleFileActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity
            android:name=".module.upload.real.QuickUploadMultipleFilesSimultaneouslyActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity
            android:name="kira.learning.chat.AiChatActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity
            android:name=".compose.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize" />
        <activity
            android:name=".module.supereditor.SuperEditorActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:host="*" />
                <data android:mimeType="*/*" />
                <data android:scheme="file" />
                <data android:scheme="content" />

                <data android:pathPattern=".*\\.txt" />
                <data android:pathPattern=".*\\.log" />
                <data android:pathPattern=".*\\.js" />
                <data android:pathPattern=".*\\.json" />
                <data android:pathPattern=".*\\.java" />
                <data android:pathPattern=".*\\.kt" />
                <data android:pathPattern=".*\\.kts" />
                <data android:pathPattern=".*\\.md" />
                <data android:pathPattern=".*\\.lua" />
                <data android:pathPattern=".*\\.rb" />
                <data android:pathPattern=".*\\.as" />
                <data android:pathPattern=".*\\.cs" />
                <data android:pathPattern=".*\\.c" />
                <data android:pathPattern=".*\\.cpp" />
                <data android:pathPattern=".*\\.h" />
                <data android:pathPattern=".*\\.hpp" />
                <data android:pathPattern=".*\\.lisp" />
                <data android:pathPattern=".*\\.lsp" />
                <data android:pathPattern=".*\\.cl" />
                <data android:pathPattern=".*\\.l" />
                <data android:pathPattern=".*\\.py" />
                <data android:pathPattern=".*\\.pyw" />
                <data android:pathPattern=".*\\.pyi" />
                <data android:pathPattern=".*\\.vb" />
                <data android:pathPattern=".*\\.bas" />
                <data android:pathPattern=".*\\.cls" />
                <data android:pathPattern=".*\\.sql" />
                <data android:pathPattern=".*\\.sqlite" />
                <data android:pathPattern=".*\\.sqlite2" />
                <data android:pathPattern=".*\\.sqlite3" />
                <data android:pathPattern=".*\\.htm" />
                <data android:pathPattern=".*\\.html" />
                <data android:pathPattern=".*\\.xhtml" />
                <data android:pathPattern=".*\\.xht" />
                <data android:pathPattern=".*\\.xaml" />
                <data android:pathPattern=".*\\.xdf" />
                <data android:pathPattern=".*\\.xmpp" />
                <data android:pathPattern=".*\\.xml" />
                <data android:pathPattern=".*\\.sh" />
                <data android:pathPattern=".*\\.ksh" />
                <data android:pathPattern=".*\\.bsh" />
                <data android:pathPattern=".*\\.csh" />
                <data android:pathPattern=".*\\.tcsh" />
                <data android:pathPattern=".*\\.zsh" />
                <data android:pathPattern=".*\\.bash" />
                <data android:pathPattern=".*\\.groovy" />
                <data android:pathPattern=".*\\.gvy" />
                <data android:pathPattern=".*\\.gy" />
                <data android:pathPattern=".*\\.gsh" />
                <data android:pathPattern=".*\\.php" />
                <data android:pathPattern=".*\\.php3" />
                <data android:pathPattern=".*\\.php4" />
                <data android:pathPattern=".*\\.php5" />
                <data android:pathPattern=".*\\.phps" />
                <data android:pathPattern=".*\\.phtml" />
                <data android:pathPattern=".*\\.ts" />
                <data android:pathPattern=".*\\.ino" />
                <data android:pathPattern=".*\\.mjs" />
                <data android:pathPattern=".*\\.cjs" />
                <data android:pathPattern=".*\\.jl" />
                <data android:pathPattern=".*\\.yaml" />
                <data android:pathPattern=".*\\.yml" />
                <data android:pathPattern=".*\\.toml" />
                <data android:pathPattern=".*\\.gradle" />
                <data android:pathPattern=".*\\.mts" />
                <data android:pathPattern=".*\\.cts" />
                <data android:pathPattern=".*\\.smali" />
                <data android:pathPattern=".*\\.css" />
                <data android:pathPattern=".*\\.scss" />
                <data android:pathPattern=".*\\.go" />
                <data android:pathPattern=".*\\.tex" />
                <data android:pathPattern=".*\\.f90" />
                <data android:pathPattern=".*\\.f95" />
                <data android:pathPattern=".*\\.f03" />
                <data android:pathPattern=".*\\.f08" />
                <data android:pathPattern=".*\\.f" />
                <data android:pathPattern=".*\\.for" />
                <data android:pathPattern=".*\\.ftn" />
                <data android:pathPattern=".*\\.rs" />
            </intent-filter>
        </activity>


        <service
            android:name=".module.service.XjbgdfdfService"
            android:exported="false" /> <!-- 适配 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="400" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="740" />
        <!--        推送       -->
        <service
            android:name=".messaging.KiraFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--        上传       -->
        <service
            android:name="com.kira.quickupload.UploadService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <!--        推送图标&颜色信息-->
        <!--        <meta-data-->
        <!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
        <!--            android:resource="@drawable/ic_logo" />-->
        <!--        <meta-data-->
        <!--            android:name="com.google.firebase.messaging.default_notification_color"-->
        <!--            android:resource="@color/primary_color" />-->


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${pkgName}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>